@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body */

body {
    background-color: rgb(1, 36, 30);
}

/* Navbar */

#navbar {
    background-color: rgb(255, 153, 0);
    color: rgb(1, 36, 30);
}

#navbar a {
    color: rgb(1, 36, 30);
}

#navbar #button-signout {
    background-color: rgb(255, 153, 0);
    color: rgb(1, 36, 30);
    font-weight: 700;
    border: none;
}

#navbar a:hover,
#navbar #button-signout:hover {
    color: rgb(255, 153, 0);
    background-color: rgb(1, 36, 30);
}

#navbar .container-fluid button {
    border: 2px solid rgb(1, 36, 30);
}

#navbar .container-fluid button:hover {
    border-color: wheat;
}

#navbar #username {
    position: absolute;
    right: 0;
}

/* Home */

h1 {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 153, 0);
}

p {
    color: rgb(255, 153, 0);
}

/* Footer */

#footer .container-fluid {
    background-color: rgb(250, 177, 19);
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .container-sm {
    background-color: rgb(250, 177, 19);
    width: 70%;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer .container-sm p,
#footer .container-sm a {
    color: rgb(1, 36, 30);
}

#footer .container-sm a:hover {
    color: wheat;
}

/* Menu and Pizza details*/

h2 {
    color: rgb(250, 177, 19);
}

#pizza-card,
#pizza-details-card {
    background-color: rgb(1, 36, 30);
    border: 4px solid rgb(250, 177, 19);
}

#pizza-card h3,
#pizza-details-card h3 {
    color: rgb(250, 177, 19);
}

#pizza-card img,
#pizza-details-card img {
    object-fit: cover;
}

#pizza-card img {
    height: 300px;
}

#pizza-card a {
    color: rgb(0 182 255);
}

#page-nav a {
    background-color: rgb(1, 36, 30);
    border: 2px solid rgb(250, 177, 19);
    color: rgb(250, 177, 19);
    font-weight: 500;
}

#page-nav a:hover {
    background-color: rgb(250, 177, 19);
    color: rgb(1, 36, 30);
}

/* Login */

#login-container .card {
    background-color: rgb(1, 36, 30);
}

#login-container .card p a {
    color: rgb(0 182 255);
}

#login-container form {
    font-size: 30px;
}

#login-container form label[for=id_password] {
    margin-right: 9px;
}

#login-container form button {
    background-color: rgb(250, 177, 19);
    border: 2px solid rgb(1, 36, 30);
    font-size: 20px;
}

#login-container form button:hover {
    background-color: rgb(1, 36, 30);
    border: 2px solid rgb(250, 177, 19);
    color: rgb(250, 177, 19);
}

#login-container form ul li {
    color: wheat;
}

/* Sign-up */

#signup-container .card {
    background-color: rgb(1, 36, 30);
}

#signup-container .card p a {
    color: rgb(0 182 255);
}

#signup-container form {
    font-size: 30px;
}

#signup-container form label {
    display: block;
}

#signup-container form button {
    background-color: rgb(250, 177, 19);
    border: 2px solid rgb(1, 36, 30);
    font-size: 20px;
}

#signup-container form button:hover {
    background-color: rgb(1, 36, 30);
    border: 2px solid rgb(250, 177, 19);
    color: rgb(250, 177, 19);
}

#signup-container form ul li {
    color: wheat;
}

/* Book a table (Not logged in) */

#booking-form-container {
    color: rgb(250, 177, 19);
}

#booking-form-container .card {
    background-color: rgb(1, 36, 30);
}

#booking-form-container .card form {
    font-size: 24px;
}

#booking-form-container .card form input,
#booking-form-container .card form select {
    margin-top: 5px;
    margin-bottom: 15px;
}

#booking-form-container form button {
    background-color: rgb(250, 177, 19);
    border: 2px solid rgb(1, 36, 30);
    font-size: 20px;
}

#booking-form-container form button:hover {
    background-color: rgb(1, 36, 30);
    border: 2px solid rgb(250, 177, 19);
    color: rgb(250, 177, 19);
}

/* Book a table (Logged in) */

#book-another-table-container p a,
#has-booking-container .card-body p a {
    color: rgb(0 182 255);
}

#has-booking-container .card {
    background-color: rgb(1, 36, 30);
    font-size: 24px;
}

/* Media queries */

/* For screens size from 991px wide and down */

@media screen and (max-width: 991px) {

    #navbar #username {
        right: 65px;
        padding-right: 9px;
        padding-left: 9px;
    }

}

/* For screens size from 900px wide and down */

@media screen and (max-width: 900px) {

    #footer p {
            font-size: 30px;
    }

    #login-container label[for=id_login],
    #login-container label[for=id_password]{
        display: block;
    }

}

/* For screens size from 780px wide and down */

@media screen and (max-width: 780px) {

    #home-paragraph {
        font-size: 30px;
    }

    #home-paragraph span {
        font-size: 40px;
    }

    #footer p {
        font-size: 25px;
    }

}

/* For screens size from 660px wide and down */

@media screen and (max-width: 660px) {

    #footer .container-sm {
        width: 90%;
    }

    #has-booking-container .card {
        font-size: 20px;
    }

}

/* For screens size from 550px wide and down */

@media screen and (max-width: 550px) {

    #home-paragraph {
        font-size: 25px;
    }

    #home-paragraph span {
        font-size: 35px;
    }

    #footer p {
        font-size: 20px;
    }

    #login-container .card-body p,
    #login-container .card-body label {
        font-size: 24px;
    }

    #signup-container .card-body p,
    #signup-container .card-body label {
        font-size: 24px;
    }

    #has-booking-container .card {
        font-size: 18px;
    }

}

/* For screens size from 460px wide and down */

@media screen and (max-width: 460px) {

    #home-paragraph {
        font-size: 20px;
    }

    #home-paragraph span {
        font-size: 30px;
    }

    #footer .container-sm {
        width: 96%;
    }

    #footer p {
        font-size: 18px;
    }

    #has-booking-container .card {
        font-size: 15px;
    }

}

/* For screens size from 390px wide and down */

@media screen and (max-width: 390px) {

    #home-paragraph span {
        font-size: 25px;
    }

    #footer p {
        font-size: 15px;
    }

    #booking-form-container .card-body form label {
        font-size: 20px;
    }

    #has-booking-container .card {
        font-size: 13px;
    }

}

/* For screens size from 362px wide and down */

@media screen and (max-width: 362px) {

    #home-paragraph {
        font-size: 16px;
    }

    #home-paragraph span {
        font-size: 20px;
    }

    #footer .container-sm {
        width: 98%;
    }

    #login-container .card-body p,
    #login-container .card-body label {
        font-size: 20px;
    }

    #signup-container .card-body p,
    #signup-container .card-body label {
        font-size: 20px;
    }

     #has-booking-container .card {
        font-size: 11px;
    }
}