{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Booking form -->
<div class="container" id="booking-form-container">
    <div class="row">
        <div class="col-md-8 col-xl-6 card my-4 offset-md-2 offset-xl-3 shadow-lg">
            <div class="card-body">
                <h2>Book a table:</h2>

                <form method="POST">
                    {{ book_table_form | crispy }}
                    {% csrf_token %}
                    <button id="button-form" type="submit" name="submit" class="btn mt-3">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}