{% extends "base.html" %}

{% block content %}

<!-- Home -->
<h1 class="text-center my-5 display-1 fw-bold">Yam Yam Pizzeria</h1>
<div class="container-fluid" id="home-container">
    <div class="row">
        <img src="https://www.shutterstock.com/shutterstock/photos/309624056/display_1500/stock-photo-delicious-seafood-pizza-on-a-wooden-textured-table-309624056.jpg" alt="" class-bolder">
                Welcome to Yam Yam Pizzeria,
            </span>
            the ultimate destination for pizza lovers! Located in the heart of
            the city. Step inside and be greeted by the aroma of freshly baked
            pizza crusts, rich tomato sauce, and a delectable array of toppings.
        </p>
    </div>
</div>

{% endblock %}
