{% extends "base.html" %} {% block content %}

<h1 class="text-center my-5 display-1 fw-bold">Yam Yam Pizzeria</h1>
<div class="container-fluid">
  <div class="row">
    <img src="../static/images/pizza.jpg" alt="" class="px-0" />
  </div>
  <div class="container my-5">
    <p class="display-5 fw-bold" id="home-paragraph">
      <span class="display-4 fw-bolder">Welcome to Yam Yam Pizzeria,</span>
      the ultimate destination for pizza lovers! Located in the heart of the
      city. Step inside and be greeted by the aroma of freshly baked pizza
      crusts, rich tomato sauce, and a delectable array of toppings.
    </p>
  </div>
</div>

{% endblock %}
