{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Update Booking form -->
<div class="container" id="update-booking-container">
    <div class="row">
        <div class="col-md-8 col-xl-6 card my-4 offset-md-2 offset-xl-3 shadow-lg">
            <div class="card-body">
                <h2>Update the table:</h2>

                <form method="POST">
                    {{ form | crispy }}
                    {% csrf_token %}

                    <button class="btn mt-3 orange-button hover-button" type="submit" name="submit">Update</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}